/* banner section */
.header{
    background-image: url(../images/banner/banner2.png);
    height: 100vh;
    text-align:right;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.header-content{
    font-size: medium;
    position: absolute;
    padding-right: 1000px;
    padding-top: 100px;
    display: flex;
    width: 400px;
    margin-left: 600px;
    margin-right: 1300px;
    
}
.header-tittle{
    color: black;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 70px;
    text-align: right;

}
.header-peragraph{
    color: black;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    text-align: right;

}
.header-button{
    background-color: cadetblue;
    color: blueviolet;
    font-family: sans-serif;
    font-style: normal;
    padding: 5px;
    width: 160px;
    height: 64px;
    font-size: 20px;
    line-height: 25px;
    border-radius: 5px;
    background-position: center; 
}
/* main section */
/* .main-head{
    font-size: small;
    
    position: absolute;
    padding-right: 1000px;
    padding-top: 100px;
    
    width: 400px;
    margin-left: 100px;
    margin-right: 100px;

} */
.img-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
    margin-top: 80px;
}


.text-tittle{
    position: absolute;
    text-align: center;
}
.main-img{
    width: 600px;
    height: 750px;
    left: 175px;
    top:965px ;
    

}
.main-ta{
    width: 500px;
    height: 500px;
    left: 800px;
    top: 1200px;
    font-style: normal;
    font-size: 25px;

}
/* My Plans */
.my-plans{
    font-weight: 500;
    font-size: 15px;
    gap: 16px;
    font-style: normal;
    line-height: 45px;
    padding-right: 100px;
    padding-left: 100px;
    margin-top: 100px;
    text-align: center;
    
    
}
.section-tittle{
    line-break: 16px;
    text-align: center;
    font-size: 100px;
    justify-content: center;
    margin-left: 50%;
    margin-right: 50%;
    
}
.plans-container{
    display: flex;
    gap: 16px;
    
}
.plans{
    text-align: center;
   
}
.plans h1{
    color: black;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 50px;
    text-align: center;
    font-style: normal;
    width: 250px;

}
.planes p{
    padding-bottom: 50px;
    
    font-size: 20px;
    color: #757575;
}
/* mindset section */
.mindset-section{
    background-image: url(../images/gradient2.png);
    background-repeat: no-repeat;
    gap: 24px;
    width: 1130px;
    height: 300px;
    padding: 59px 60px 64px;
    margin-top: 100px;
}
.mindset-tittle{
    font-weight: 600;
    
    font-size: 40px;
    color: #FFFFFF;
    
    text-align: left;
    

}
.mind-button{
    line-height: 10px;
    background-color: bisque;
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: blueviolet;
    font-family: sans-serif;
    font-style: normal;
    padding: 5px;
    width: 160px;
    height: 64px;
    font-size: 20px;
    line-height: 25px;
    border-radius: 5px;
    background-position: center;


}
.contact{
    
    display: flex;
    background-color: black;
    color: white;
}
.vedio-section{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.vedio-section p{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}
/* contact-section */
.contact{
    padding-left: 20%;
    padding-right: 20%;
}
.section-tittle{
    font-size: 20px;
    text-align: left;
}
.section-description{
    font-size: 10px;
}